{% extends "layout.html" %}

{% block title %}
    Stock Quote
{% endblock %}

{% block main %}
    <h2>Stock Quote</h2>
    <form action="/quote" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="symbol" placeholder="Enter Stock Symbol" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>

    {% if quote %}
        <h3>{{ quote.symbol }} - {{ quote.name }}</h3>
        <p>Price: {{ quote.price | usd }}</p>
    {% elif quote is not none %}
        <p>Stock not found.</p>
    {% endif %}
{% endblock %}
